extends layout
block title
  h1
   a(href="/") RestHomeApi
   &nbsp;&nbsp;
   span= title
block content
  ul.dev
   for one in arr
    li
     if one
      a(href = "/get/#{one}") Открыть
      &nbsp;&nbsp;
      span= one
      &nbsp;&nbsp;
      a(href = "/bind/#{one}/unbind") &times;
