extends layout
block scripts
 script(src='/javascripts/devices.js')
block title
  h1
   a(href="/") NooliteF
   &nbsp;&nbsp;
   span= title
block content
 ul.dev
   li
    span канал
        - var n = 0
        select#chanel(name="chanel")
         while n < 60
          option(value="#{n}")= n++
        button#finder(class="btn btn-secondary") Найти подключенные устройства
 iframe(src="/listener", width="100%", height="333px")