extends layout

block content
  h1= title
  ul
   li /get - просмотр всех подключенных устройств
   li /get/:id - просмотр подключенного устройства по id
   li /cmd/:id/on - включить устройство по id
   li /cmd/:id/off - выключить устройство по id
   li /cmd/:id/toogle - выключить если включено, включить если выключено по id
