doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery.min.js')
    script(src='/javascripts/main.js')
  body
    div
     span= comport
    block content
