body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
    font-size:33px;
}
a {
    color: #00B7FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.cont h2 {
    margin-bottom:0;
    padding-bottom: 0;
}
.main {
    margin-top:20px;
    padding-top:20px;
}
#time {
    padding-top: 5px;
    padding-top: 5px;
    width: 40px;
    font-weight: bold;
}
.dim {
    padding-left: 10px;
}
#timer {
    float: right;
    font-size: 58px;
    padding: 20px;
    margin: 10px;
    border: solid 1px grey;
    border-radius: 6px;
}
.level {
    width:53px;
}
.last {
    float:right;
    padding:4px;

}
.service {
    padding-left: 5px;
}
.dev {
    margin-bottom: 10px;
    margin-left:-23px;
}
.dev li {
    padding:1px 10px;
list-style: none;
}
.ida {
    padding:5px;
}
.sender {
    float:right;
}
.tt {
    margin-bottom: 6px;
}
.sender2 {
    margin-left:25px;
}
.slovo {
    padding:5px;
}
.writer {
    font-weithg:bold;
    padding:5px;
}
#writer {
    margin-top:20px;
}